.footer {
  padding: 80px 0;
  background-color: #0a0427;

  &__logo {
    @include tablet {
      width: 200px;
    }
  }

  &__columns {
    display: flex;
    justify-content: space-between;

    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      row-gap: 40px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 24px;

    max-width: 340px;

    @include tablet {
      max-width: 100%;
      gap: 20px;
    }
  }

  &__column-title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;

    @include tablet {
      font-size: 16px;
    }
  }

  // info
  &__info {
    @include tablet {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  &__text,
  &__copyright {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
  }

  &__text {
    @include tablet {
      font-size: 14px;
    }
  }

  // menu
  &__menu {
    @include tablet {
      grid-area: 2 / 1 / 3 / 2;
    }
  }

  &__nav {
    .nav__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .nav__item {
      &.active {
        a {
          color: $light-green;
        }
      }
    }

    .nav__link {
      font-size: 16px;
      color: $gray;
      transition: all 0.2s ease-in-out;

      @include for-desktop {
        &:hover {
          color: $light-green;
        }
      }

      @include tablet {
        font-size: 14px;
      }
    }
  }

  // support
  &__support {
    @include tablet {
      grid-area: 2 / 2 / 3 / 3;
    }
  }

  &__support-mail {
    transition: all 0.2s ease-in-out;

    @include for-desktop {
      &:hover {
        color: $light-green;
      }
    }

    @include tablet {
      font-size: 14px;
    }
  }
}
