.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(10, 4, 39, 0.4);
  backdrop-filter: blur(15px);
  transition: all 0.2s ease-in-out;
  z-index: 10000;

  @include tablet {
    background: #0a0427;
  }

  &.header--first-visit {
    animation: fadeInDown 0.5s linear both;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 100%;

    @include tablet {
      justify-content: space-between;
      padding: 10px 0;
    }
  }

  &__logo {
    flex-shrink: 0;
    width: 155px;
    height: auto;
    transition: all 0.2s ease-in-out;

    &--dark {
      display: none;
    }

    svg {
      width: 100%;
      height: auto;
    }

    @include tablet {
      width: 110px;
      transform: translateY(3px);
    }
  }

  &__nav {
    margin-left: 160px;

    @include tablet {
      position: fixed;
      top: 77px;
      left: 0;
      width: 100%;
      height: calc(100vh - 77px);
      transform: translateX(-100%);
      margin: 0;
      padding: 100px 16px 10px;
      background: #0a0427;
      transition: all 0.2s ease-in-out;
      z-index: 1000;

      overflow-x: hidden;
      overflow-y: auto;

      &.menu--active {
        transform: translate(0);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 200px;
        right: -100px;
        display: block;
        width: 216px;
        height: 186px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='217' height='186' viewBox='0 0 217 186' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M135.047 0.00626081C135.385 0.00209099 135.723 0 136.062 0C136.4 0 136.738 0.00209123 137.076 0.00626147L137.051 2.00611C136.722 2.00204 136.392 2 136.062 2C135.731 2 135.401 2.00204 135.072 2.00611L135.047 0.00626081ZM131.011 0.155919C131.681 0.114422 132.353 0.0811254 133.028 0.0561288L133.102 2.05476C132.444 2.07914 131.788 2.11162 131.134 2.1521L131.011 0.155919ZM139.096 0.0561305C139.77 0.0811275 140.442 0.114424 141.112 0.155922L140.989 2.1521C140.335 2.11162 139.679 2.07914 139.021 2.05476L139.096 0.0561305ZM126.986 0.506031C127.653 0.431128 128.323 0.364388 128.995 0.305912L129.169 2.29839C128.513 2.35542 127.86 2.42051 127.209 2.49355L126.986 0.506031ZM143.128 0.305916C143.8 0.364392 144.47 0.431132 145.137 0.506036L144.914 2.49356C144.263 2.42051 143.61 2.35542 142.954 2.29839L143.128 0.305916ZM122.983 1.05725C123.646 0.948889 124.312 0.848631 124.981 0.756581L125.253 2.73788C124.602 2.82764 123.952 2.92541 123.306 3.03106L122.983 1.05725ZM147.143 0.756586C147.811 0.848636 148.477 0.948894 149.14 1.05725L148.817 3.03107C148.171 2.92541 147.521 2.82765 146.87 2.73789L147.143 0.756586ZM119.013 1.80929C119.67 1.66756 120.33 1.53387 120.993 1.4083L121.365 3.37335C120.719 3.49579 120.075 3.62614 119.435 3.76432L119.013 1.80929ZM151.13 1.4083C151.793 1.53387 152.453 1.66757 153.11 1.80929L152.688 3.76433C152.048 3.62615 151.404 3.49579 150.758 3.37336L151.13 1.4083ZM115.086 2.76095C115.735 2.58611 116.388 2.4192 117.043 2.26031L117.514 4.20405C116.875 4.35896 116.239 4.5217 115.606 4.69215L115.086 2.76095ZM155.08 2.26032C155.735 2.4192 156.388 2.58612 157.037 2.76096L156.517 4.69216C155.884 4.5217 155.248 4.35897 154.609 4.20406L155.08 2.26032ZM111.212 3.91022C111.852 3.70265 112.495 3.50287 113.142 3.31101L113.711 5.22842C113.08 5.41547 112.453 5.61023 111.829 5.8126L111.212 3.91022ZM158.981 3.31101C159.628 3.50288 160.271 3.70265 160.911 3.91022L160.294 5.8126C159.67 5.61024 159.043 5.41547 158.412 5.22842L158.981 3.31101ZM107.401 5.25428C108.03 5.01448 108.662 4.78234 109.298 4.55797L109.964 6.4441C109.343 6.66284 108.727 6.88916 108.114 7.12295L107.401 5.25428ZM162.825 4.55797C163.461 4.78234 164.093 5.01448 164.722 5.25428L164.009 7.12295C163.396 6.88917 162.78 6.66285 162.16 6.4441L162.825 4.55797ZM103.663 6.78964C104.279 6.51823 104.899 6.25433 105.523 5.99804L106.283 7.84806C105.675 8.09792 105.07 8.35521 104.47 8.61981L103.663 6.78964ZM166.6 5.99805C167.224 6.25433 167.844 6.51824 168.46 6.78964L167.653 8.61982C167.053 8.35521 166.449 8.09793 165.84 7.84806L166.6 5.99805ZM100.008 8.51218C100.609 8.2099 101.215 7.91494 101.825 7.62743L102.678 9.43662C102.083 9.71693 101.492 10.0045 100.906 10.2992L100.008 8.51218ZM170.298 7.62743C170.908 7.91494 171.514 8.20989 172.115 8.51218L171.217 10.2992C170.631 10.0045 170.04 9.71693 169.445 9.43662L170.298 7.62743ZM173.908 9.44174C174.503 9.75968 175.093 10.0849 175.679 10.4172L174.692 12.1566C174.121 11.8326 173.545 11.5155 172.965 11.2055L173.908 9.44174ZM96.4443 10.4172C97.0299 10.0849 97.6201 9.75969 98.2149 9.44174L99.1578 11.2055C98.5779 11.5155 98.0024 11.8326 97.4315 12.1566L96.4443 10.4172ZM177.422 11.4361C178 11.7836 178.573 12.1382 179.141 12.4997L178.068 14.1871C177.514 13.8346 176.955 13.4889 176.392 13.15L177.422 11.4361ZM92.9816 12.4997C93.5498 12.1382 94.1228 11.7836 94.7007 11.4361L95.7314 13.15C95.168 13.4889 94.6092 13.8346 94.0552 14.1871L92.9816 12.4997ZM180.832 13.6052C181.391 13.9813 181.945 14.3643 182.495 14.754L181.337 16.3851C180.802 16.0052 180.261 15.6317 179.716 15.265L180.832 13.6052ZM89.6283 14.754C90.1776 14.3643 90.732 13.9813 91.2915 13.6052L92.4073 15.265C91.8618 15.6317 91.3211 16.0052 90.7856 16.3852L89.6283 14.754ZM184.127 15.9434C184.667 16.3471 185.201 16.7574 185.73 17.1742L184.492 18.7451C183.977 18.3386 183.456 17.9385 182.929 17.5449L184.127 15.9434ZM86.3928 17.1742C86.9217 16.7574 87.4561 16.3471 87.9957 15.9434L89.1937 17.5449C88.6675 17.9386 88.1464 18.3386 87.6307 18.7451L86.3928 17.1742ZM187.301 18.4444C187.82 18.8746 188.333 19.3113 188.84 19.7542L187.525 21.2608C187.03 20.8289 186.53 20.4031 186.024 19.9836L187.301 18.4444ZM83.2831 19.7542C83.7904 19.3113 84.3034 18.8747 84.8219 18.4444L86.099 19.9837C85.5933 20.4032 85.0931 20.8289 84.5985 21.2608L83.2831 19.7542ZM190.345 21.1019C190.841 21.5576 191.331 22.0194 191.816 22.4873L190.426 23.9258C189.954 23.4696 189.476 23.0193 188.992 22.5749L190.345 21.1019ZM80.3072 22.4873C80.7916 22.0194 81.2819 21.5576 81.7781 21.1019L83.1309 22.575C82.6471 23.0193 82.169 23.4696 81.6966 23.9258L80.3072 22.4873ZM193.251 23.9091C193.724 24.3891 194.19 24.8751 194.651 25.3668L193.19 26.7335C192.742 26.2541 192.287 25.7802 191.826 25.3122L193.251 23.9091ZM77.4725 25.3668C77.9328 24.8751 78.3992 24.3892 78.8717 23.9092L80.297 25.3123C79.8363 25.7803 79.3814 26.2541 78.9326 26.7335L77.4725 25.3668ZM196.013 26.8591C196.46 27.3623 196.902 27.8711 197.337 28.3855L195.809 29.6769C195.385 29.1754 194.955 28.6792 194.518 28.1886L196.013 26.8591ZM74.7864 28.3856C75.2214 27.8712 75.6628 27.3623 76.1105 26.8592L77.6046 28.1887C77.1681 28.6793 76.7377 29.1754 76.3136 29.6769L74.7864 28.3856ZM198.622 29.9447C199.043 30.4698 199.458 31.0003 199.867 31.5361L198.276 32.7487C197.878 32.2263 197.473 31.709 197.062 31.1971L198.622 29.9447ZM72.256 31.5361C72.6645 31.0003 73.0797 30.4698 73.5014 29.9447L75.0608 31.1971C74.6496 31.709 74.2448 32.2263 73.8465 32.7487L72.256 31.5361ZM201.071 33.1581C201.466 33.7039 201.854 34.2548 202.235 34.8108L200.585 35.9413C200.214 35.3992 199.836 34.8621 199.451 34.3301L201.071 33.1581ZM69.8881 34.8109C70.2691 34.2549 70.6569 33.7039 71.0516 33.1582L72.6723 34.3301C72.2875 34.8621 71.9094 35.3993 71.538 35.9413L69.8881 34.8109ZM203.355 36.4917C203.722 37.0568 204.081 37.6268 204.434 38.2017L202.729 39.2468C202.385 38.6865 202.035 38.1308 201.677 37.5799L203.355 36.4917ZM67.6893 38.2017C68.0416 37.6268 68.4011 37.0568 68.7676 36.4917L70.4456 37.5799C70.0883 38.1308 69.7379 38.6865 69.3945 39.2468L67.6893 38.2017ZM205.467 39.937C205.805 40.5201 206.135 41.1077 206.457 41.7L204.701 42.6569C204.387 42.0796 204.065 41.5068 203.736 40.9385L205.467 39.937ZM65.6658 41.7C65.9885 41.1077 66.3185 40.5201 66.6558 39.937L68.387 40.9385C68.0582 41.5068 67.7365 42.0796 67.422 42.6569L65.6658 41.7ZM63.8235 45.2969C64.1156 44.6888 64.4152 44.0851 64.7222 43.4857L66.5022 44.3974C66.203 44.9817 65.911 45.5701 65.6264 46.1628L63.8235 45.2969ZM207.401 43.4857C207.708 44.0851 208.007 44.6888 208.3 45.2969L206.497 46.1628C206.212 45.5701 205.92 44.9817 205.621 44.3974L207.401 43.4857ZM62.1677 48.9835C62.4283 48.3611 62.6965 47.7428 62.9724 47.1286L64.7968 47.9481C64.528 48.5467 64.2665 49.1493 64.0126 49.7558L62.1677 48.9835ZM209.151 47.1286C209.427 47.7428 209.695 48.3611 209.955 48.9835L208.11 49.7558C207.857 49.1493 207.595 48.5467 207.326 47.9481L209.151 47.1286ZM60.7033 52.7502C60.9315 52.1152 61.1677 51.484 61.4116 50.8566L63.2757 51.5814C63.038 52.1928 62.8078 52.808 62.5854 53.4268L60.7033 52.7502ZM210.711 50.8566C210.955 51.484 211.192 52.1153 211.42 52.7502L209.538 53.4268C209.315 52.808 209.085 52.1928 208.847 51.5814L210.711 50.8566ZM59.4344 56.5873C59.6297 55.9414 59.8331 55.2989 60.0444 54.66L61.9432 55.2879C61.7373 55.9106 61.5391 56.5367 61.3488 57.1662L59.4344 56.5873ZM212.079 54.66C212.29 55.2989 212.493 55.9414 212.689 56.5873L210.774 57.1662C210.584 56.5367 210.386 55.9106 210.18 55.2879L212.079 54.66ZM58.3647 60.4846C58.5265 59.8294 58.6965 59.1774 58.8745 58.5287L60.8032 59.0581C60.6297 59.6903 60.464 60.3257 60.3063 60.9642L58.3647 60.4846ZM213.249 58.5287C213.427 59.1774 213.597 59.8294 213.758 60.4846L211.817 60.9642C211.659 60.3257 211.493 59.6903 211.32 59.0581L213.249 58.5287ZM57.4968 64.4316C57.6247 63.769 57.761 63.1092 57.9054 62.4525L59.8587 62.882C59.718 63.522 59.5852 64.165 59.4605 64.8108L57.4968 64.4316ZM214.218 62.4525C214.362 63.1092 214.498 63.769 214.626 64.4317L212.663 64.8108C212.538 64.165 212.405 63.522 212.264 62.882L214.218 62.4525ZM56.8327 68.4179C56.9265 67.7495 57.0287 67.0837 57.1392 66.4207L59.112 66.7494C59.0043 67.3956 58.9047 68.0444 58.8133 68.6959L56.8327 68.4179ZM214.984 66.4208C215.094 67.0838 215.197 67.7495 215.29 68.418L213.31 68.696C213.218 68.0445 213.119 67.3956 213.011 66.7494L214.984 66.4208ZM56.3734 72.4327C56.433 71.7603 56.501 71.0903 56.5774 70.4228L58.5644 70.6501C58.49 71.3008 58.4237 71.9539 58.3656 72.6094L56.3734 72.4327ZM215.546 70.4229C215.622 71.0904 215.69 71.7604 215.75 72.4328L213.757 72.6094C213.699 71.9539 213.633 71.3008 213.559 70.6502L215.546 70.4229ZM56.1187 76.4654C56.1442 75.7908 56.1782 75.1182 56.2205 74.4479L58.2165 74.5739C58.1753 75.2274 58.1422 75.8831 58.1173 76.5409L56.1187 76.4654ZM215.903 74.448C215.945 75.1183 215.979 75.7908 216.004 76.4655L214.006 76.5409C213.981 75.8831 213.948 75.2274 213.907 74.574L215.903 74.448ZM56.0615 79.5C56.0615 79.1613 56.0637 78.8231 56.0679 78.4854L58.0677 78.5106C58.0636 78.8399 58.0615 79.1697 58.0615 79.5C58.0615 79.8303 58.0636 80.1601 58.0677 80.4894L56.0679 80.5145C56.0637 80.1769 56.0615 79.8387 56.0615 79.5ZM216.055 78.4855C216.059 78.8231 216.062 79.1613 216.062 79.5C216.062 79.8387 216.059 80.1769 216.055 80.5146L214.055 80.4894C214.059 80.1601 214.062 79.8303 214.062 79.5C214.062 79.1697 214.059 78.8399 214.055 78.5106L216.055 78.4855ZM56.2205 84.552C56.1782 83.8817 56.1442 83.2092 56.1187 82.5345L58.1173 82.4591C58.1422 83.1169 58.1753 83.7726 58.2165 84.426L56.2205 84.552ZM216.004 82.5346C215.979 83.2092 215.945 83.8818 215.903 84.5521L213.907 84.4261C213.948 83.7726 213.981 83.1169 214.006 82.4591L216.004 82.5346ZM56.5774 88.5771C56.501 87.9096 56.433 87.2396 56.3734 86.5672L58.3656 86.3906C58.4237 87.0461 58.49 87.6992 58.5644 88.3498L56.5774 88.5771ZM215.75 86.5673C215.69 87.2397 215.622 87.9097 215.546 88.5772L213.559 88.3499C213.633 87.6992 213.699 87.0461 213.757 86.3906L215.75 86.5673ZM57.1392 92.5792C57.0287 91.9162 56.9265 91.2505 56.8327 90.582L58.8133 90.304C58.9047 90.9555 59.0043 91.6044 59.112 92.2506L57.1392 92.5792ZM215.29 90.5821C215.197 91.2505 215.094 91.9163 214.984 92.5793L213.011 92.2506C213.119 91.6044 213.218 90.9556 213.31 90.3041L215.29 90.5821ZM57.9054 96.5475C57.761 95.8908 57.6247 95.231 57.4968 94.5683L59.4605 94.1892C59.5852 94.835 59.718 95.478 59.8587 96.118L57.9054 96.5475ZM214.626 94.5684C214.498 95.231 214.362 95.8908 214.218 96.5475L212.264 96.118C212.405 95.478 212.538 94.835 212.663 94.1892L214.626 94.5684ZM58.8745 100.471C58.6965 99.8226 58.5265 99.1706 58.3647 98.5154L60.3063 98.0358C60.464 98.6743 60.6297 99.3097 60.8032 99.9419L58.8745 100.471ZM213.758 98.5154C213.597 99.1706 213.427 99.8226 213.249 100.471L211.32 99.9419C211.493 99.3097 211.659 98.6743 211.817 98.0358L213.758 98.5154ZM60.0444 104.34C59.8331 103.701 59.6297 103.059 59.4344 102.413L61.3488 101.834C61.5391 102.463 61.7373 103.089 61.9432 103.712L60.0444 104.34ZM212.689 102.413C212.493 103.059 212.29 103.701 212.079 104.34L210.18 103.712C210.386 103.089 210.584 102.463 210.774 101.834L212.689 102.413ZM61.4116 108.143C61.1677 107.516 60.9315 106.885 60.7033 106.25L62.5854 105.573C62.8078 106.192 63.038 106.807 63.2757 107.419L61.4116 108.143ZM211.42 106.25C211.191 106.885 210.955 107.516 210.711 108.143L208.847 107.419C209.085 106.807 209.315 106.192 209.538 105.573L211.42 106.25ZM62.9724 111.871C62.6965 111.257 62.4283 110.639 62.1677 110.017L64.0126 109.244C64.2665 109.851 64.528 110.453 64.7968 111.052L62.9724 111.871ZM209.955 110.017C209.695 110.639 209.427 111.257 209.151 111.871L207.326 111.052C207.595 110.453 207.857 109.851 208.11 109.244L209.955 110.017ZM64.7222 115.514C64.4152 114.915 64.1156 114.311 63.8235 113.703L65.6264 112.837C65.911 113.43 66.203 114.018 66.5022 114.603L64.7222 115.514ZM208.3 113.703C208.007 114.311 207.708 114.915 207.401 115.514L205.621 114.603C205.92 114.018 206.212 113.43 206.497 112.837L208.3 113.703ZM66.6558 119.063C66.3185 118.48 65.9885 117.892 65.6658 117.3L67.422 116.343C67.7365 116.92 68.0582 117.493 68.387 118.062L66.6558 119.063ZM206.457 117.3C206.135 117.892 205.805 118.48 205.467 119.063L203.736 118.062C204.065 117.493 204.387 116.92 204.701 116.343L206.457 117.3ZM204.434 120.798C204.081 121.373 203.722 121.943 203.355 122.508L201.677 121.42C202.035 120.869 202.385 120.314 202.729 119.753L204.434 120.798ZM68.7676 122.508C68.4011 121.943 68.0416 121.373 67.6893 120.798L69.3945 119.753C69.7379 120.314 70.0883 120.869 70.4456 121.42L68.7676 122.508ZM202.235 124.189C201.854 124.745 201.466 125.296 201.071 125.842L199.451 124.67C199.836 124.138 200.214 123.601 200.585 123.059L202.235 124.189ZM71.0516 125.842C70.657 125.296 70.2691 124.745 69.8882 124.189L71.538 123.059C71.9094 123.601 72.2875 124.138 72.6723 124.67L71.0516 125.842ZM199.867 127.464C199.459 128 199.043 128.53 198.622 129.055L197.062 127.803C197.473 127.291 197.878 126.774 198.277 126.251L199.867 127.464ZM73.5015 129.055C73.0797 128.53 72.6646 128 72.2561 127.464L73.8465 126.251C74.2448 126.774 74.6496 127.291 75.0608 127.803L73.5015 129.055ZM197.337 130.614C196.902 131.129 196.46 131.638 196.013 132.141L194.518 130.811C194.955 130.321 195.385 129.825 195.809 129.323L197.337 130.614ZM76.1105 132.141C75.6628 131.638 75.2214 131.129 74.7864 130.614L76.3137 129.323C76.7377 129.825 77.1681 130.321 77.6046 130.811L76.1105 132.141ZM194.651 133.633C194.19 134.125 193.724 134.611 193.251 135.091L191.826 133.688C192.287 133.22 192.742 132.746 193.19 132.266L194.651 133.633ZM78.8718 135.091C78.3993 134.611 77.9328 134.125 77.4725 133.633L78.9327 132.266C79.3815 132.746 79.8363 133.22 80.297 133.688L78.8718 135.091ZM191.816 136.513C191.331 136.981 190.841 137.442 190.345 137.898L188.992 136.425C189.476 135.981 189.954 135.53 190.426 135.074L191.816 136.513ZM81.7781 137.898C81.2819 137.442 80.7916 136.981 80.3072 136.513L81.6967 135.074C82.169 135.53 82.6471 135.981 83.1309 136.425L81.7781 137.898ZM188.84 139.246C188.333 139.689 187.82 140.125 187.301 140.556L186.024 139.016C186.53 138.597 187.03 138.171 187.525 137.739L188.84 139.246ZM84.822 140.556C84.3034 140.125 83.7904 139.689 83.2831 139.246L84.5985 137.739C85.0932 138.171 85.5934 138.597 86.099 139.016L84.822 140.556ZM185.73 141.826C185.201 142.243 184.667 142.653 184.127 143.057L182.929 141.455C183.456 141.061 183.977 140.661 184.492 140.255L185.73 141.826ZM87.9958 143.057C87.4561 142.653 86.9217 142.243 86.3928 141.826L87.6307 140.255C88.1464 140.661 88.6675 141.061 89.1937 141.455L87.9958 143.057ZM91.2915 145.395C90.732 145.019 90.1776 144.636 89.6283 144.246L90.7856 142.615C91.3212 142.995 91.8618 143.368 92.4073 143.735L91.2915 145.395ZM182.495 144.246C181.945 144.636 181.391 145.019 180.832 145.395L179.716 143.735C180.261 143.368 180.802 142.995 181.337 142.615L182.495 144.246ZM94.7007 147.564C94.1228 147.216 93.5498 146.862 92.9816 146.5L94.0552 144.813C94.6092 145.165 95.168 145.511 95.7314 145.85L94.7007 147.564ZM179.141 146.5C178.573 146.862 178 147.216 177.422 147.564L176.392 145.85C176.955 145.511 177.514 145.165 178.068 144.813L179.141 146.5ZM98.2149 149.558C97.6201 149.24 97.0299 148.915 96.4443 148.583L97.4315 146.843C98.0024 147.167 98.5779 147.484 99.1578 147.794L98.2149 149.558ZM175.679 148.583C175.093 148.915 174.503 149.24 173.908 149.558L172.965 147.794C173.545 147.484 174.121 147.167 174.692 146.843L175.679 148.583ZM101.825 151.373C101.215 151.085 100.609 150.79 100.008 150.488L100.906 148.701C101.492 148.995 102.083 149.283 102.678 149.563L101.825 151.373ZM172.115 150.488C171.514 150.79 170.908 151.085 170.298 151.373L169.445 149.563C170.04 149.283 170.631 148.995 171.217 148.701L172.115 150.488ZM105.523 153.002C104.899 152.746 104.279 152.482 103.663 152.21L104.47 150.38C105.07 150.645 105.675 150.902 106.283 151.152L105.523 153.002ZM168.46 152.21C167.844 152.482 167.224 152.746 166.6 153.002L165.84 151.152C166.449 150.902 167.053 150.645 167.653 150.38L168.46 152.21ZM109.298 154.442C108.662 154.218 108.03 153.986 107.401 153.746L108.114 151.877C108.727 152.111 109.343 152.337 109.964 152.556L109.298 154.442ZM164.722 153.746C164.093 153.986 163.461 154.218 162.825 154.442L162.16 152.556C162.78 152.337 163.396 152.111 164.009 151.877L164.722 153.746ZM113.142 155.689C112.495 155.497 111.852 155.297 111.212 155.09L111.829 153.187C112.453 153.39 113.08 153.585 113.711 153.772L113.142 155.689ZM160.911 155.09C160.271 155.297 159.628 155.497 158.981 155.689L158.412 153.772C159.043 153.585 159.67 153.39 160.294 153.187L160.911 155.09ZM117.043 156.74C116.388 156.581 115.735 156.414 115.086 156.239L115.606 154.308C116.239 154.478 116.875 154.641 117.514 154.796L117.043 156.74ZM157.037 156.239C156.388 156.414 155.735 156.581 155.08 156.74L154.609 154.796C155.248 154.641 155.884 154.478 156.517 154.308L157.037 156.239ZM120.993 157.592C120.33 157.466 119.67 157.332 119.013 157.191L119.435 155.236C120.075 155.374 120.719 155.504 121.365 155.627L120.993 157.592ZM153.11 157.191C152.453 157.332 151.793 157.466 151.13 157.592L150.758 155.627C151.404 155.504 152.048 155.374 152.688 155.236L153.11 157.191ZM124.981 158.243C124.312 158.151 123.646 158.051 122.983 157.943L123.306 155.969C123.952 156.075 124.602 156.172 125.253 156.262L124.981 158.243ZM149.14 157.943C148.477 158.051 147.811 158.151 147.142 158.243L146.87 156.262C147.521 156.172 148.171 156.075 148.817 155.969L149.14 157.943ZM128.995 158.694C128.323 158.636 127.653 158.569 126.986 158.494L127.209 156.506C127.86 156.579 128.513 156.645 129.169 156.702L128.995 158.694ZM145.137 158.494C144.47 158.569 143.8 158.636 143.128 158.694L142.954 156.702C143.61 156.645 144.263 156.579 144.914 156.506L145.137 158.494ZM133.028 158.944C132.353 158.919 131.681 158.886 131.011 158.844L131.134 156.848C131.788 156.888 132.444 156.921 133.102 156.945L133.028 158.944ZM141.112 158.844C140.442 158.886 139.77 158.919 139.095 158.944L139.021 156.945C139.679 156.921 140.335 156.888 140.989 156.848L141.112 158.844ZM136.062 159C135.723 159 135.385 158.998 135.047 158.994L135.072 156.994C135.401 156.998 135.731 157 136.062 157C136.392 157 136.722 156.998 137.051 156.994L137.076 158.994C136.738 158.998 136.4 159 136.062 159Z' fill='%23221D3D'/%3E%3Cpath d='M57.0615 157.5C57.0615 173.24 44.3016 186 28.5615 186C12.8214 186 0.0615234 173.24 0.0615234 157.5C0.0615234 141.76 12.8214 129 28.5615 129C44.3016 129 57.0615 141.76 57.0615 157.5Z' fill='%23221D3D'/%3E%3C/svg%3E");
        z-index: -1;
      }
    }
  }

  .nav {
    @include tablet {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 110px;
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 24px;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        margin-bottom: 50px;
      }
    }

    &__item {
      min-width: 165px;
      border: 1px solid transparent;
      border-radius: 8px;
      transition: all 0.2s ease-in-out;
      overflow: hidden;

      @include tablet {
        overflow: visible;
      }

      &.first-item {
        position: relative;
        border-color: $light-green;

        &::before {
          content: "";
          position: absolute;
          top: 5px;
          left: 5px;
          width: 17px;
          height: 17px;
          background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='8.5' stroke='%234BEF6F' stroke-dasharray='2 2'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          transition: all 0.2s ease-in-out;
        }

        &.active {
          border-color: $light-green !important;
          a {
            color: $dark-text !important;
            background-color: $light-green !important;
          }

          &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='8.5' stroke='%23100A2C' stroke-dasharray='2 2'/%3E%3C/svg%3E%0A") !important;
          }

          @include tablet {
            a {
              color: $purple !important;
              background-color: transparent !important;
            }
          }
        }

        @include for-desktop {
          &:hover {
            a {
              color: $dark-text;
              background-color: $light-green;
            }

            &::before {
              background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='9.5' cy='9.5' r='8.5' stroke='%23100A2C' stroke-dasharray='2 2'/%3E%3C/svg%3E%0A");
            }
          }
        }

        @include tablet {
          min-width: auto;
          border: none;

          &::before {
            display: none;
          }
        }
      }

      &.active {
        .nav__link {
          background-color: $purple;
        }

        @include tablet {
          position: relative;
          a {
            color: $purple !important;
            background-color: transparent !important;
          }

          &:after {
            content: "";
            position: absolute;
            top: -15px;
            right: -70px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Ccircle cx='24' cy='24' r='23' stroke='%23AF00EC' stroke-width='2' stroke-dasharray='2 2'/%3E%3C/svg%3E");
            width: 46px;
            height: 46px;
          }
        }
      }

      @include for-desktop {
        &:hover {
          &:not(.active, .first-item) {
            border-color: transparent !important;

            .nav__link {
              color: $dark-text;
              background-color: $white;
            }
          }
        }
      }
    }

    &__link {
      display: block;
      text-align: center;
      padding: 15px 30px;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: $white;
      transition: all 0.2s ease-in-out;

      @include tablet {
        font-size: 32px;
        line-height: normal;
        padding: 0;
        text-align: left;
      }
    }
  }

  &__nav-mobile {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;

      .header__auth,
      .header__switcher {
        display: block;
      }
    }
  }

  &__switcher {
    margin-left: auto;

    @include tablet {
      display: none;
      margin: 0;
      margin-bottom: 30px;
    }

    @include small-tablet {
      margin: 0 auto 30px;
    }
  }

  &__auth {
    min-width: 138px;
    margin-left: 30px;

    @include tablet {
      margin: 0;
      display: none;
      min-width: auto;
    }

    @include small-tablet {
      margin: 0 auto;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__auth-btn {
    width: 100%;
    font-weight: 400;
    border-radius: 8px;
    background: transparent;
    border-color: $purple;

    @include for-desktop {
      &:hover {
        color: $white;
        background: $purple;
      }
    }

    @include mobile {
      width: 100%;
      background-color: $purple;
      font-weight: 600;
    }
  }

  .burger {
    display: none;
    @include tablet {
      display: block;
      @include burger;
    }
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
  }
}
