.benefits {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
    width: 1935.436px;
    height: 689.585px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='692' viewBox='0 0 1920 692' fill='none'%3E%3Cpath opacity='0.4' d='M1929.54 326.956C1922.04 289.901 1908.05 252.689 1881.05 224.999C1862.51 205.998 1834.31 181.935 1813.68 212.074C1799.32 233.063 1797.18 265.447 1795.35 289.984C1792.82 324.084 1793.66 359.598 1794.21 393.783C1795.37 464.956 1780.88 533.48 1731.09 586.553C1710.96 608.006 1680.1 625.231 1651.7 632.935C1598.18 647.451 1546.1 628.175 1497.13 606.215C1443.06 581.963 1389.08 560.235 1333.46 539.779C1276.4 518.792 1217.99 518.628 1157.93 521.135C1080.62 524.362 1004.57 519.238 928.364 505.849C850.885 492.236 763.737 466.878 710.568 404.857C695.944 387.798 692.893 377.208 696.566 355.849M-3.78297 1C35.2769 70.175 129.617 93.0448 202.37 105.827C303.746 123.639 406.81 98.4999 504.113 70.6331C583.568 47.8777 663.618 17.051 747.499 16.3652C790.26 16.0156 832.234 14.5397 872.321 32.4153C889.472 40.0631 906.539 53.4165 919.726 69.7675M1923.98 383.292C1916.41 374.188 1908.28 363.06 1896.01 349.072C1862.18 310.522 1806.39 355.3 1812.72 426.853C1819.04 498.407 1812.36 547.774 1771.5 593.198C1749.41 617.753 1726.76 639.184 1697.29 654.647C1667.24 670.41 1630.49 686.176 1596.52 689.759C1566.42 692.932 1535.46 686.595 1506.97 676.966C1491.1 671.604 1476 664.263 1460.4 658.22C1441.92 651.067 1422.62 646.529 1403.97 639.921C1339.97 617.248 1277.71 601.651 1209.58 599.342C1180.51 598.358 1152.2 601.364 1123.22 601.812C1090.19 602.322 1057.63 608.845 1024.71 608.57C988.828 608.27 952.727 611.378 916.961 607.281C856.532 600.358 802.221 586.43 747.546 559.329C715.027 543.21 677.291 526.813 655.771 496.051C644.622 480.115 644.993 463.346 648.235 444.851C653.73 413.511 667.811 376.435 694.92 357.003C695.467 356.612 696.015 356.227 696.566 355.849M-5.89307 22.3688C6.78149 38.5287 20.8393 53.529 37.6215 66.4077C69.36 90.764 106.482 106.391 143.424 120.934C213.566 148.547 287.951 171.218 364.061 171.024C463.271 170.772 553.134 139.167 646.827 111.478C682.527 100.928 717.482 86.429 753.671 77.6517C783.177 70.4952 813.588 66.9258 843.52 62.0746C868.955 57.9523 895.722 60.4114 919.726 69.7675M696.566 355.849C713.505 344.217 732.294 338.943 751.293 331.624C777.754 321.432 805.098 313.13 831.34 302.564C858.429 291.657 886.685 283.781 913.32 271.774C940.844 259.365 972.558 246.117 990.24 220.275C1019.84 177.008 994.842 129.653 962.281 97.2064C950.059 85.0272 935.488 75.9106 919.726 69.7675M696.566 355.849C696.593 355.689 696.621 355.528 696.65 355.367C701.005 330.524 709.647 307.732 728.308 290.035C757.602 262.253 796.084 244.919 831.598 226.29C870.451 205.909 944.729 185.19 944.108 130.405C943.864 108.969 934.099 87.5882 919.726 69.7675' stroke='%23344476' stroke-linecap='round'/%3E%3C/svg%3E");

    opacity: 0.4;
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    z-index: 1;

    @include tablet {
      flex-direction: column;
      gap: 30px;
    }
  }

  &__info {
    position: sticky;
    top: 130px;

    display: flex;
    flex-direction: column;
    max-width: 477px;
    height: fit-content;
    width: 100%;

    @include tablet {
      position: static;
      max-width: 100%;
    }
  }

  &__title {
    color: $purple !important;
    text-transform: uppercase;
    margin-bottom: 30px;

    @include tablet {
      text-align: left;
      margin-bottom: 6px;
    }
  }

  &__text {
    color: $dark-text;
    font-size: 34px;
    margin-bottom: 90px;

    @include tablet {
      margin: 0;
      font-size: 16px;
    }
  }

  &__btn {
    width: 100%;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include tablet {
      display: flex;
      gap: 12px;
      margin: 0 -16px;
      padding: 0 16px;
      overflow-x: auto;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px;
    border-radius: 20px;
    border: 1px solid $dark-text;
    background: $white;

    * {
      color: $dark-text;
    }

    &:nth-child(even) {
      margin-bottom: -100px;
      margin-top: 100px;

      @include tablet {
        margin: 0;
      }
    }

    &:first-child,
    &:nth-child(4),
    &:nth-child(5) {
      h4 {
        color: $purple;

        @include tablet {
          color: $dark-text;
        }
      }
    }

    @include tablet {
      max-width: 231px;
      flex-shrink: 0;
      padding: 12px;
    }
  }
}
