.hero__advertisers {
  position: relative;
  min-height: calc(100vh - 200px);
  background-image: var(--bg-desktop);
  background-size: cover;
  background-position: center -120px;
  background-repeat: no-repeat;

  @include tablet {
    min-height: auto;
    background-image: none !important;

    &::after {
      content: "";
      position: absolute;
      top: -7%;
      left: -16%;
      width: 1000px;
      height: 400px;
      background-image: var(--bg-mobile);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .hero {
    &__wrapper {
      padding-top: 100px;
      @include tablet {
        gap: 90px;
        padding: 0;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 60px;

      @include tablet {
        gap: 30px;
      }
    }

    &__title {
      display: block;
      line-height: 60px;

      span {
        padding: 0;
        animation: none;
      }

      @include tablet {
        line-height: normal;
      }
    }

    &__btn {
      font-size: 32px;
      line-height: 55px;
      padding: 20px;
      min-width: 375px;
      border-radius: 10px;
      color: #060219;

      @include tablet {
        font-size: 26px;
        line-height: 55px;
        min-width: auto;
        width: 100%;
        padding: 0 17.5px;
      }
    }

    &__subtext {
      font-size: 26px;
      color: $dark-text;
      max-width: 500px;
      margin-left: auto;

      @include tablet {
        font-size: 16px;
        max-width: 100%;

        br {
          display: none;
        }
      }
    }
  }

  // slider
  &-body {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 628px;
    width: 100%;

    padding-top: 70px;

    @include tablet {
      padding: 0;
      max-width: 100%;
      gap: 20px;
    }
  }

  &-items {
    position: relative;
    width: 100%;
    background-color: $purple;
    border-radius: 20px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      z-index: 10;
    }

    &::after {
      top: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52' fill='none'%3E%3Ccircle cx='25.6821' cy='26' r='25' stroke='white' stroke-dasharray='5 5'/%3E%3C/svg%3E");

      animation: rotate-element 2.5s ease-in-out infinite;

      @include tablet {
        width: 28px;
        height: 28px;
      }
    }

    &::before {
      top: 35px;
      left: 58px;
      width: 20px;
      height: 20px;
      background-color: $white;
      border-radius: 50%;

      animation: rotate-element-second 2.5s ease-in-out infinite;

      @include tablet {
        width: 12px;
        height: 12px;
        top: 30px;
      }
    }

    .hero__advertisers-item {
      display: flex;
      align-items: center;
      color: $dark-text;
      transition: all 0.2s ease-in-out;
      min-height: 200px;
      height: auto;

      &.swiper-slide:not(.swiper-slide-active) {
        opacity: 0 !important;
      }

      &.swiper-slide-active {
        p {
          opacity: 1;
          transform: translateY(0);
        }
      }

      p {
        margin: 0 30px;
        font-weight: 600;
        font-size: 54px;
        line-height: normal;
        color: $white;
        opacity: 0;
        transform: translateY(-100%);
        transition: all 0.2s ease-in-out;

        @include tablet {
          font-size: 36px;
        }
      }
    }
  }

  &-wrapper {
    align-items: center;
  }
}

@keyframes rotate-element {
  0% {
    left: 20px;
    transform: rotate(0);
  }

  20% {
    left: 20px;
  }

  50% {
    left: calc(92% - 20px);
    transform: rotate(360deg);
  }

  70% {
    left: calc(92% - 20px);
  }

  100% {
    left: 20px;
    transform: rotate(0);
  }
}

@keyframes rotate-element-second {
  0% {
    left: 58px;
  }

  20% {
    left: 58px;
  }

  50% {
    left: calc(93% - 60px);
  }

  70% {
    left: calc(93% - 60px);
  }

  100% {
    left: 60px;
  }
}

@include tablet {
  @keyframes rotate-element-second {
    0% {
      left: 40px;
    }

    20% {
      left: 40px;
    }

    50% {
      left: calc(91% - 38px);
    }

    70% {
      left: calc(91% - 38px);
    }

    100% {
      left: 40px;
    }
  }
}
