.main-slider {
  position: relative;

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 120px;

    .main-slider__btns {
      display: none;
      flex-direction: row-reverse;
      align-items: center;
      gap: 30px;

      @include tablet {
        display: flex;
      }

      @include small-tablet {
        display: none;
      }

      .main-nav-item {
        position: static !important;
        transform: translateY(0);

        &--prev {
          transform: translateY(0) rotate(180deg);
        }
      }
    }
  }

  &__items {
    width: 100%;
    overflow: hidden;

    @include tablet {
      width: auto;
      margin: 0 -16px;
      padding: 0 16px;
    }
  }

  &__slide {
    height: auto;
    box-sizing: border-box;
  }

  &__btns {
    @include tablet {
      display: none;
    }

    .main-nav-item {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 54px;
      height: 54px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='53' viewBox='0 0 53 53' fill='none'%3E%3Cg clip-path='url(%23clip0_205_2496)'%3E%3Ccircle cx='26.5' cy='26.5' r='26' fill='white' stroke='%23344476'/%3E%3Cpath d='M23 18L32 27L23 36' stroke='%23344476' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_205_2496'%3E%3Crect width='53' height='53' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &--prev {
        left: -90px;
        transform: translateY(-50%) rotate(180deg);
      }

      &--next {
        right: -90px;
      }

      &.active {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='53' viewBox='0 0 53 53' fill='none'%3E%3Cg clip-path='url(%23clip0_205_2499)'%3E%3Ccircle cx='26.5' cy='26.5' r='26' fill='white' stroke='%23AF00EC'/%3E%3Cpath d='M23 18L32 27L23 36' stroke='%23AF00EC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_205_2499'%3E%3Crect width='53' height='53' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }

      @include for-desktop {
        &:hover {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='53' height='53' viewBox='0 0 53 53' fill='none'%3E%3Cg clip-path='url(%23clip0_205_2499)'%3E%3Ccircle cx='26.5' cy='26.5' r='26' fill='white' stroke='%23AF00EC'/%3E%3Cpath d='M23 18L32 27L23 36' stroke='%23AF00EC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_205_2499'%3E%3Crect width='53' height='53' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
      }
    }
  }
}
