.switcher {
  position: relative;

  display: flex;
  align-items: center;
  gap: 8px;

  margin-left: auto;
  cursor: pointer;
  overflow: hidden;

  @include for-desktop {
    .switcher__list {
      &:hover {
        background-color: #ffffff4d;
        border-color: #af00ec;
      }
    }
  }

  &.switcher--en {
    .switcher__item {
      &:last-child {
        transform: translateX(-100%);
      }
    }

    @include for-desktop {
      &:hover {
        .switcher__item {
          &:first-child {
            a {
              transform: translateX(10px);
              opacity: 0;
            }
          }

          &:last-child {
            a {
              opacity: 1;
              transform: translateX(100%);
            }
          }
        }
      }
    }
  }

  &.switcher--de {
    .switcher__item {
      &:first-child {
        transform: translateX(100%);
      }
    }

    @include for-desktop {
      &:hover {
        .switcher__item {
          &:first-child {
            a {
              opacity: 1;
              transform: translateX(-100%);
            }
          }

          &:last-child {
            a {
              transform: translateX(-10px);
              opacity: 0;
            }
          }
        }
      }
    }
  }

  &__main-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 52px;
    height: 28px;
    padding: 3px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #ffffff17;
    border-radius: 14px;
    transition: all 0.2s ease-in-out;
  }

  &__name {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $gray;
    opacity: 0.5;

    &.active {
      opacity: 1;
    }
  }

  &__item {
    display: flex;
    gap: 10px;
    pointer-events: all;

    &.current-lang {
      display: flex;
      pointer-events: none;

      .switcher__link {
        color: red;
        opacity: 1;
      }
    }

    &:first-child {
      .switcher__link {
        &::before {
          content: "";
          display: block;
          width: 22px;
          height: 22px;

          background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='21' height='21' rx='10.5' stroke='white'/%3E%3Cpath d='M10.6464 1H11.3393L12.3039 1.08432L12.3035 9.67291C12.3035 9.67918 12.3059 9.68519 12.3103 9.68962C12.3146 9.69405 12.3205 9.69654 12.3267 9.69654L20.9157 9.69613L21 10.7495V11.2481L20.9153 12.3043L12.3251 12.3051C12.3117 12.3051 12.3051 12.3119 12.3051 12.3255L12.3039 20.9157L11.2509 21H10.7413L9.69572 20.9153L9.69491 12.3255C9.69491 12.3119 9.68812 12.3051 9.67454 12.3051L1.08432 12.3039L1 11.2497V10.7328L1.08432 9.69532L9.67373 9.69328C9.68703 9.69328 9.69369 9.68663 9.69369 9.67332L9.69532 1.0835L10.6464 1Z' fill='%23D80027'/%3E%3Cpath d='M9.69535 1.0835L9.69372 9.67331C9.69372 9.68662 9.68707 9.69327 9.67376 9.69327L1.08435 9.69531C1.14382 9.24751 1.2299 8.8133 1.3426 8.39266L6.5096 8.39347C6.53269 8.39347 6.53608 8.38533 6.51979 8.36903L3.06643 4.91486L3.34219 4.56944L7.14912 8.37596C7.1601 8.38692 7.17489 8.39307 7.19026 8.39307H8.36378C8.38333 8.39307 8.38618 8.38614 8.37233 8.37229L3.93079 3.93075C4.24063 3.61683 4.5684 3.32817 4.91409 3.06476L8.37885 6.5283C8.38007 6.52943 8.3816 6.5302 8.38324 6.53052C8.38489 6.53083 8.38657 6.53067 8.38809 6.53007C8.38961 6.52946 8.3909 6.52843 8.39179 6.5271C8.39268 6.52577 8.39314 6.52421 8.39311 6.5226V1.34297C8.81891 1.22864 9.25299 1.14215 9.69535 1.0835Z' fill='%23F0F0F0'/%3E%3Cpath d='M12.3039 1.08429C12.7587 1.14457 13.1943 1.23106 13.6106 1.34376L13.6171 6.50832C13.6171 6.5219 13.6219 6.5238 13.6314 6.51402L17.0839 3.06555L17.4306 3.34213L13.6244 7.14865C13.6189 7.15421 13.6145 7.16082 13.6115 7.16809C13.6085 7.17536 13.6069 7.18315 13.6069 7.19101V8.35272C13.6069 8.37825 13.6159 8.38205 13.6338 8.36413L18.0688 3.93032C18.3822 4.23962 18.6709 4.56752 18.9348 4.91402L15.4709 8.3792C15.4699 8.38028 15.4692 8.38162 15.4689 8.38308C15.4686 8.38454 15.4688 8.38604 15.4693 8.38741C15.4699 8.38879 15.4708 8.38997 15.4721 8.39082C15.4733 8.39168 15.4747 8.39217 15.4762 8.39223L20.6566 8.39264C20.7696 8.80975 20.8559 9.24424 20.9157 9.6961L12.3267 9.69651C12.3205 9.69651 12.3146 9.69402 12.3103 9.68959C12.3059 9.68516 12.3035 9.67915 12.3035 9.67288L12.3039 1.08429Z' fill='%23F0F0F0'/%3E%3Cpath d='M8.39308 1.34296V6.52259C8.39312 6.5242 8.39266 6.52576 8.39176 6.52709C8.39087 6.52842 8.38959 6.52945 8.38807 6.53006C8.38655 6.53066 8.38486 6.53082 8.38322 6.53051C8.38158 6.53019 8.38005 6.52942 8.37883 6.52829L4.91406 3.06475C5.96199 2.26176 7.12167 1.68783 8.39308 1.34296Z' fill='%230052B4'/%3E%3Cpath d='M13.6106 1.34381C14.7843 1.66397 15.8604 2.17572 16.8391 2.87905C16.9222 2.93879 17.0038 3.00097 17.0839 3.0656L13.6314 6.51407C13.6219 6.52385 13.6171 6.52195 13.6171 6.50837L13.6106 1.34381Z' fill='%230052B4'/%3E%3Cpath d='M17.4306 3.34216L18.0688 3.93035L13.6338 8.36416C13.6159 8.38208 13.6069 8.37828 13.6069 8.35275V7.19104C13.6069 7.18318 13.6085 7.17539 13.6115 7.16812C13.6145 7.16085 13.6189 7.15424 13.6244 7.14868L17.4306 3.34216Z' fill='%23D80027'/%3E%3Cpath d='M3.93076 3.93073L8.37231 8.37227C8.38616 8.38612 8.3833 8.39305 8.36375 8.39305H7.19023C7.17487 8.39305 7.16007 8.3869 7.14909 8.37594L3.34216 4.56942L3.93076 3.93073Z' fill='%23D80027'/%3E%3Cpath d='M3.06636 4.91486L6.51972 8.36903C6.53601 8.38532 6.53262 8.39347 6.50953 8.39347L1.34253 8.39266C1.66405 7.21574 2.17634 6.13848 2.87939 5.16088C2.93859 5.0786 3.00091 4.99659 3.06636 4.91486Z' fill='%230052B4'/%3E%3Cpath d='M18.9348 4.91406C19.7375 5.96091 20.3115 7.12044 20.6566 8.39268L15.4761 8.39227C15.4747 8.3922 15.4732 8.39172 15.472 8.39086C15.4708 8.39001 15.4699 8.38882 15.4693 8.38745C15.4688 8.38608 15.4686 8.38458 15.4689 8.38312C15.4692 8.38166 15.4698 8.38032 15.4709 8.37924L18.9348 4.91406Z' fill='%230052B4'/%3E%3Cpath d='M1.08435 12.3039L9.67457 12.3051C9.68815 12.3051 9.69494 12.3119 9.69494 12.3255L9.69576 20.9153C9.24497 20.8561 8.81062 20.77 8.3927 20.657L8.39229 15.49C8.39229 15.4683 8.38469 15.4651 8.36948 15.4803L4.91409 18.9349L4.56867 18.6579L8.376 14.8497C8.3874 14.8383 8.39311 14.8243 8.39311 14.8078V13.6302C8.39307 13.6283 8.3925 13.6266 8.39146 13.6251C8.39043 13.6236 8.38898 13.6224 8.3873 13.6217C8.38561 13.621 8.38376 13.6208 8.38197 13.6212C8.38018 13.6215 8.37853 13.6224 8.37722 13.6236L3.93079 18.0697C3.6185 17.7606 3.32984 17.4327 3.0648 17.086L6.52834 13.6216C6.52956 13.6204 6.5304 13.6189 6.53074 13.6172C6.53108 13.6155 6.53091 13.6138 6.53025 13.6122C6.52959 13.6106 6.52848 13.6093 6.52705 13.6083C6.52562 13.6074 6.52394 13.6069 6.52223 13.6069H1.34301C1.22841 13.1812 1.14219 12.7468 1.08435 12.3039Z' fill='%23F0F0F0'/%3E%3Cpath d='M20.9152 12.3043C20.8563 12.754 20.7702 13.1883 20.657 13.6073H15.479C15.4772 13.6074 15.4754 13.6079 15.4739 13.609C15.4724 13.61 15.4712 13.6114 15.4705 13.6131C15.4698 13.6148 15.4697 13.6167 15.47 13.6185C15.4703 13.6202 15.4712 13.6219 15.4725 13.6232L18.9348 17.0863L18.6578 17.4305L14.8517 13.624C14.8407 13.6131 14.8256 13.6069 14.8097 13.6069H13.6268C13.6252 13.6069 13.6237 13.6073 13.6223 13.6082C13.621 13.6091 13.62 13.6104 13.6194 13.6119C13.6188 13.6134 13.6186 13.6151 13.6189 13.6168C13.6192 13.6184 13.62 13.6199 13.6211 13.6212L18.0692 18.0692C17.7599 18.3823 17.4321 18.6709 17.0859 18.9348L13.6211 15.4709C13.62 15.4697 13.6186 15.469 13.617 15.4687C13.6154 15.4684 13.6138 15.4685 13.6123 15.4691C13.6109 15.4698 13.6096 15.4708 13.6087 15.4721C13.6078 15.4734 13.6073 15.475 13.6073 15.4766V20.657C13.1812 20.7716 12.7467 20.8578 12.3038 20.9157L12.3051 12.3254C12.3051 12.3119 12.3117 12.3051 12.325 12.3051L20.9152 12.3043Z' fill='%23F0F0F0'/%3E%3Cpath d='M1.34302 13.6069H6.52224C6.52395 13.6069 6.52563 13.6074 6.52706 13.6083C6.52849 13.6093 6.52961 13.6106 6.53026 13.6122C6.53092 13.6138 6.53109 13.6155 6.53075 13.6172C6.53041 13.6189 6.52958 13.6204 6.52835 13.6216L3.06481 17.086C2.26209 16.0386 1.68816 14.8789 1.34302 13.6069Z' fill='%230052B4'/%3E%3Cpath d='M18.6578 17.4306L18.0692 18.0693L13.6212 13.6212C13.62 13.62 13.6192 13.6184 13.6189 13.6168C13.6186 13.6152 13.6188 13.6135 13.6194 13.6119C13.62 13.6104 13.621 13.6091 13.6224 13.6083C13.6237 13.6074 13.6252 13.6069 13.6269 13.6069H14.8097C14.8256 13.6069 14.8407 13.6131 14.8517 13.624L18.6578 17.4306Z' fill='%23D80027'/%3E%3Cpath d='M20.657 13.6073C20.3108 14.8801 19.7367 16.0398 18.9348 17.0863L15.4725 13.6232C15.4712 13.6219 15.4704 13.6202 15.47 13.6184C15.4697 13.6166 15.4699 13.6148 15.4705 13.6131C15.4712 13.6114 15.4724 13.61 15.4739 13.6089C15.4754 13.6079 15.4772 13.6073 15.479 13.6073H20.657Z' fill='%230052B4'/%3E%3Cpath d='M4.56867 18.6578L3.93079 18.0696L8.37722 13.6236C8.37853 13.6223 8.38018 13.6215 8.38197 13.6211C8.38376 13.6208 8.38561 13.621 8.3873 13.6217C8.38898 13.6224 8.39043 13.6235 8.39146 13.625C8.3925 13.6265 8.39307 13.6283 8.39311 13.6301V14.8077C8.39311 14.8243 8.38741 14.8383 8.376 14.8497L4.56867 18.6578Z' fill='%23D80027'/%3E%3Cpath d='M8.39268 20.657C7.11963 20.311 5.96009 19.737 4.91406 18.9348L8.36946 15.4802C8.38467 15.465 8.39227 15.4683 8.39227 15.49L8.39268 20.657Z' fill='%230052B4'/%3E%3Cpath d='M17.0859 18.9348C16.0388 19.7378 14.8793 20.3119 13.6073 20.657V15.4766C13.6073 15.475 13.6078 15.4735 13.6087 15.4721C13.6096 15.4708 13.6109 15.4698 13.6123 15.4692C13.6138 15.4686 13.6154 15.4684 13.617 15.4687C13.6186 15.469 13.62 15.4698 13.6211 15.4709L17.0859 18.9348Z' fill='%230052B4'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }

    &:last-child {
      .switcher__link {
        &::before {
          content: "";
          display: block;
          width: 22px;
          height: 22px;

          background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.431 6.66667C18.0582 2.78269 14.3541 0 10 0C5.64594 0 1.94181 2.78269 0.569019 6.66667H19.431Z' fill='black'/%3E%3Cpath d='M20 10C20 8.83122 19.7995 7.70926 19.431 6.66667H0.569019C0.200514 7.70926 0 8.83122 0 10C0 11.1688 0.200514 12.2907 0.569019 13.3333H19.431C19.7995 12.2907 20 11.1688 20 10Z' fill='%23D80027'/%3E%3Cpath d='M10 20C14.3541 20 18.0582 17.2173 19.431 13.3333H0.569019C1.94181 17.2173 5.64594 20 10 20Z' fill='%23FFDA44'/%3E%3C/svg%3E%0A");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__link {
    display: flex;
    color: $white;
    opacity: 0;
    transition: all 0.2s ease-in;
  }
}
