.form__reset {
  display: none;
  max-width: 550px;
  margin: 0 auto;

  &.show {
    display: flex;
  }

  &-text {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &-btns {
    display: flex;
    gap: 20px;

    .form__btn-cancel {
      border-color: $purple;
      background: transparent;

      @include for-desktop {
        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }

  .form {
    &__inner {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }

    &__item {
      gap: 0;
    }

    &__reset-text {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    &__success--reset {
      font-size: 32px;

      * {
        font: inherit;
      }
    }
  }
}
